<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>

</head>
<body>

    <form class="main-container">
        <div class="heading">
            <h1>Account Creation Form</h1>
        </div>
        <hr>
        <div class="name-container">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
        </div>
        <div class="email">
            <input type="email" placeholder="Email">
        </div>
        <div class="date">
            <input class="date" type="number" placeholder="Date">
            <input class="month" type="number" placeholder="Month">
            <input class="year" type="number" placeholder="year">    
            <!-- <input type="date"> -->
        </div>
        <div class="marital-status">
                <div class="all">
                    <input type="radio" id="status" name="status">
                <label>single</label>
                </div>

                <div class="all">
                    <input type="radio" id="status" name="status">
                <label>married</label>
                </div>

                <div class="all">
                    <input type="radio" id="status" name="status">
                <label>divorced</label>
                </div>

                <div class="all">
                    <input type="radio" id="status" name="status">
                <label>other</label>
                </div>
            
        </div>

    </form>
    
    
</body>
</html>