<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="main.css">
    <script defer src="main.js"></script>
    <script defer src="https://kit.fontawesome.com/8e5de698ed.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <h1>A First Class IT Engineering Training Institution</h1>
        <div class="setting">
            <div class="icon"><img src="WhatsApp Image 2021-02-04 at 19.12.58.jpeg" alt="Seven Logo"></div>
            <div class="empty"></div>
            <div class="text">OUR BEST SERVICES</div>
        </div>
        <div class="setting">
            <div class="icon1"><i class="fas fa-cogs fa-3x"></i></div>
            <div class="empty1"></div>
            <div class="text1">Web and Mobile Engineering Training</div>
        </div>
        <div class="setting">
            <div class="icon2"><i class="fas fa-laptop fa-3x"></i></div>
            <div class="empty2"></div>
            <div class="text2">Incubation Center</div>
        </div>
        <div class="setting">
            <div class="icon3"><i class="fas fa-certificate fa-3x"></i></div>
            <div class="empty3"></div>
            <div class="text3">Acceleration and Certification</div>
        </div>
    </div>
    
</body>
</html>